{% extends "header.html" %}

{% block content %}
<main>
    <div class="cover-container d-flex w-100 h-100 p-3 flex-column">
        <div class="col-md-5 col-lg-4 mx-auto">
            <h1>Edit Profile</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="col-12">
                    {{ form.username.label(for="username", class="form-label") }}
                    {{ form.username(type="text", class="form-control", id="floatingInput",
                    placeholder="Change Name") }}
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="col-12">
                    {{ form.about_me.label(for="about_me", class="form-label") }}
                    {{ form.about_me(type="text", class="form-control", id="floatingInput",
                    placeholder="Some about you") }}
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <p class="nav-item">{{ form.submit(class="btn btn-lg btn-light fw-bold border-white bg-white")
                    }}
                </p>
            </form>
        </div>
    </div>
</main>
{% endblock %}
