{% extends 'header.html' %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
        <h1>?</h1>
        <img src="{{ url_for('static', filename='img/skala.jpg')}}" class="img-thumbnail" alt="Responsive image">
    </main>
    <div>
        {% for user in users %}
        <img src="{{ user.avatar(80) }}">
        <a href="/profile/{{ user.username }}">{{ user.username }}</p>
            {% endfor %}
    </div>
</div>
{% endblock %}
