{% extends "header.html" %}

{% block content %}
<img src="{{ user.avatar(128) }}">
<h1>User: {{ user.username }}</h1>
{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
{% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}

{% if user == current_user %}
<p class="nav-item"><a href="{{ url_for('auth.edit_profile') }}"
                class="btn btn-lg btn-light fw-bold border-white bg-white">Edit</a>
</p>
{% elif not current_user.is_following(user) %}
<p class="nav-item"><a href="{{ url_for('main.follow', username=user.username) }}"
                class="btn btn-lg btn-light fw-bold border-white bg-white">Follow</a></p>
{% else %}
<p class="nav-item"><a href="{{ url_for('main.unfollow', username=user.username) }}"
                class="btn btn-lg btn-light fw-bold border-white bg-white">Unfollow</a></p>
{% endif %}
<hr>
<div class="col-md-5 col-lg-4 mx-auto">
        <div class="row mb-2">
                {% for post in posts %}
                <div class="col-md-6 w-100">
                        <div
                                class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white text-dark">
                                <div class="col p-4 d-flex flex-column position-static m-0">
                                        <strong class="d-inline-block mb-2 text-primary">
                                                <h4><a class="btn btn-lg btn-dark fw-bold">{{
                                                                post.author.username
                                                                }}</a></h4>
                                        </strong>
                                        <h3 class="mb-0">Says:</h3><br>
                                        <p class="card-text mb-auto">{{ post.body }}</p>
                                        <div class="mb-0 text-muted">{{ moment(post.timestamp).format('LLL') }}</div>
                                </div>
                        </div>
                </div>
                {% endfor %}
                {% include '_nextprevbuttons.html' %}
        </div>
</div>
</div>

{% endblock %}
